@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
*:focus {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  box-sizing: border-box;
}
html {
  overflow: hidden;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  background: url(/storage/bg.svg) no-repeat center;
  background-color: #E1F5FE;
}
.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
}
.row {
  margin: auto 0;
  display: flex;
  width: 100%;
}
.col {
  margin: 0 auto;
  max-width: 415px;
  min-width: 320px;
}
.headerForm {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
}
.inputForm {
  min-width: 370px;
  min-height: 128px;
  margin: 48px 4px;
  padding: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  word-break: break-all;
}
.inputForm input {
  background: transparent;
  border: none;
  width: -webkit-fill-available;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: -5px;
}
.inputForm input::placeholder {
  color: #000000DE;
  font-size: 16px;
}
.verify {
  display: inline-block;
  width: -webkit-fill-available;
  height: 39px;
  margin: 12px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px 4px 0px 0px;
  background: #7e75750f;
  font-size: 16px;
  border-bottom: #0000006B 1px solid;
}
.wrong {
  color: #FF5252;
}
.wrong_field {
  border-bottom: #FF5252 2px solid;
}
.succhess {
  color: #1976D2;
}
.succhess_field {
  border-bottom: #1976D2 2px solid;
}
#emptyLogin {
  font-size: 10px;
  height: 10px;
}
#emptyPass {
  font-size: 10px;
  height: 10px;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.buttonForm {
  min-width: 84px;
  min-height: 36px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 6px 12.5px;
  background: #1976D2;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 14px;
  border: none;
  letter-spacing: 1.25px;
}
.response {
  display: block;
  text-align: center;
  margin: 12px;
}
@media screen and (max-width: 1280px) {
  .inputForm {
    min-width: 383px;
  }
}
@media screen and (max-width: 800px) {
  .inputForm {
    min-width: 336px;
  }
  .inputForm input {
    bottom: -2px;
  }
  .buttonForm {
    min-width: 71px;
    min-height: 28px;
    font-size: 12px;
  }
  .headerForm {
    font-size: 24px;
  }
  .verify {
    height: 23px;
    padding: 2px 12px 14px 12px;
  }
}
@media screen and (max-width: 600px) {
  .inputForm {
    max-width: 336px;
    min-width: 288px;
    margin: 24px 4px;
  }
  .headerForm {
    font-size: 20px;
  }
}
